.blueback {
  background: #0084bc;
  color: #ffffff;
}

.mainback {
    background: #c9d9e0;
    color: #000000;
}

.navbar-nav > li > a {
  color: #ffffff;
}

.pad40 {
  margin:40px;
}

img {
  padding:1px;
  border:1px solid #021a40;
}

.whitefont > li > a {
  color: #ffffff;
}