.blueback {
  background: #396aba;
  color: #ffffff;
}

.contentback {
    background: #dbe8ff;
}

.mainback {

    background: #c7ccd6;
    color: #000000;
}

.navbar-nav > li > a {
  color: #ffffff;
}

.media > div > a > img {
  height: 125px;
}

.pad40 {
  margin-top:40px;
  margin-right:10px;
  margin-bottom:40px;
}

img {
  padding:1px;
  border:1px solid #021a40;
}

.whitefont > li > a {
  color: #ffffff;
}
