.blueback {
  background: #396aba;
  color: #ffffff;
}

.contentback {
    background: #dbe8ff;

}

.mainback {

    background: #c7ccd6;
    color: #000000;
}

.navbar-nav > li > a {
  color: #ffffff;
}

.navbar-nav > li > a:hover {
  color: #000000;
}
.navbar-nav > li > a:focus {
  color: #000000;
}

.media > div > a > img {
  height: 125px;
}

.top-buffer {
  margin-top:10px;
}

#projectimg {

  width:125px;
}

.pad40 {
  margin-top:40px;
  margin-bottom:40px;
}

.pad60 {
  margin-top:60px;
  margin-bottom:60px;
}

.whitefont > li > a {
  color: #ffffff;
}

.left-buffer {
  margin-left:20%;
}

.container {
  width:100%;
}

.row {
  margin-left: 10%;
}

.fill-75 {
  height:75vh;
}

.fill-10 {
  height:10vh;
}

.fill-15 {
  height:15vh;
}