<div class="container contentback fill-75">
  <div class="row row-content pad60">
    <div class="media">
      <div class="media-left">
        <a href="https://www.linkedin.com/in/michaelbellisu/"><img src="../images/linkedin.png"></a>
      </div>
      
      <div class="media-body">
        <h2 class="media-heading">Let's get in touch!</h2>
        <p>Please send me any messages via my <a href='https://www.linkedin.com/in/michaelbellisu'/>Linkedin profile.</a></p>
        <p>Thank you for visiting, and please feel free to contact me!</p>
      </div>
    </div> 
  </div>
</div>