<div class="container">
  <div class="row row-content">
    <div class="col-xs-12">
      <nav class="navbar">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="app">
                    <span class="glyphicon glyphicon-home"
                     aria-hidden="true"></span> Home</a></li>

                <li><a ui-sref="app.about">
                    <span class="glyphicon glyphicon-info-sign"
                     aria-hidden="true"></span> About</a></li>

                <li><a ui-sref="app.menu">
                     <span class="glyphicon glyphicon-list-alt"
                     aria-hidden="true"></span> 
                     Menu</a></li>

                 <li><a ui-sref="app.contactus">
                 <i class="fa fa-envelope-o"></i> Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

