<div class="container">
  <div class="row row-content pad40">
    <div class="col-xs-12 col-sm-3">
      <img src="../images/portrait.PNG">
    </div>
    
    <div class="col-xs-12 col-sm-9">
      <h2>Welcome to the portfolio website of Michael Bell!</h2>
      
      <p>For an overview of some various projects that I have worked on, please click <a ui-sref="app.projects">here.</a></p>
      <p>For my contact information, click <a ui-sref="app.contact">here.</a></p>
      <p>Thank you for visiting, and please feel free to contact me!</p>
    </div>
  </div>
</div>